.homePage {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}


.table {
    width: 40%;
    margin-top: 50px;
    display: block;
    border: 1px dashed grey;
}

.tableRow {
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

.tableColumn {
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid grey;
    /* margin-left: 20px; */
}